.container {
  align-content: center;
  text-align: center;
}

.grid {
  height: 800px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
}

.grid div {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: larger;
}

.bomb:active {
  background-color: red;
}

.below-board {
  /* text-align: center; */
  font-family: "Fredoka", sans-serif;
  font-size: 25px;
}

#tLabel {
  font-size: 40px;
}

#fLabel {
  font-size: 30px;
}

#resetBtn {
  height: 40px;
  width: 80px;
}

.valid {
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
}

.checked {
  border: 2px solid;
  background-color: #cecab7;
  border-color: #9c998d;
}

.bomb {
  background-color: orange;
  border: 5px solid;
  border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
}

.one {
  color: blue;
}

.two {
  color: green;
}

.three {
  color: red;
}

.four {
  color: purple;
}

.resetBtn {
  height: 40px;
  width: 100px;
  margin-top: 10px;
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  /* width: 100%; */
}

.resetBtn:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.resetBtn:main,
.resetBtn:focus {
  user-select: auto;
}

.resetBtn:hover:not(:disabled) {
  filter: brightness(1.1);
}

.resetBtn:disabled {
  cursor: auto;
}
